@media screen and (max-width:1206px) {
    .introduction {
        display: flex;
        justify-content: space-around;
        padding: 0em;
    }
}

@media screen and (max-width:1023px) {
    body {
        overflow-x: hidden;
    }
    html {
        font-size: 62.5%;
        overflow-x: hidden;
        overflow-y: none;
    }

    /* Responsive nevbar */
    .top-part {
        width: 100vw;
        right: 0;
        position: relative;
    }

    .hamburger {
        display: inline-block;
    }

    .open-hamburger {
        display: none;
    }

    .navbar {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        justify-items: center;


        transform: translateX(100%);
        transition: all 0.3s linear;
        pointer-events: none;
        opacity: 0;
        visibility: 0;
        overflow-x: hidden;
    }

    .nevbar-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nevbar-items li a {
        font-weight: bold;
    }

    .activated .navbar {
        transform: translateX(0);
        pointer-events: all;
        opacity: 1;
        visibility: visible;
    }

    /* Middle part */


    .logo img {
        width: 174px;
    }

    .introduction {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-image {
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
    }

    .introduction div {
        width: 100%;
    }

    .about {
        width: 100vw;
        /* border: 1px solid red; */
        padding: 0em;
        margin: 0em;
    }

    .about p {
        padding: 0em 1em;
        width: 90vw;
        font-size: 1.8rem;
        text-align: justify;
    }

    .top-image {
        width: 80%;
    }

    .about h2 {
        padding: 0em 0em 0em 0.5em;
        margin: 1em 0em .5em 0em;
        font-size: 3.4rem;
    }
    .know-more-btn{
        margin:2em;
    }
    .services {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .services div{
        width: 80%;
    }

    /* Middle part background */

    .mid-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3em;
    }
    .mid-part div{
        width: 80%;
    }
    .mid-part p{
        text-align: justify;
    }

    .blue-background p{
        width:90vw;
    }
    .service-image{
        margin: auto;
    }
}

@media screen and (max-width:605px)  {
    .blue-background{
        height: 500px;
    }
    .blue-background p{
        font-size: 1.6rem;
    }
    .blue-background h2{
        font-size: 2.5rem;
        padding:0em 1em;
    }
}
@media screen and (max-width:549px) {
    .top-image img{
        width: 80%;
    }
    .about p{
        font-size: 1.5rem;
    }
    .about h2{
        font-size: 3rem;
    }
}
@media screen and (max-width:1189px) {
    .middle-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-counter{
        margin: 20px 0px;
    }
}
@media screen and (max-width:620px) {
    .background-text{
        font-size: 1.8rem;
    }
    .middle-part-title{
        font-size: 1.8rem;
    }
    .project-counter{
        grid-column-gap: 2px;
        grid-row-gap: 15px;
    }
}
@media screen and (max-width:493px) {
    .middle-part-text{
        margin-bottom: 4em;
    }
    .project-counter .fa-solid{
        font-size: 2rem;
    }
    .project-counter .project-text{
        font-size: 1.2rem;
    }
    .project-complete-counter{
        font-size: 1.8rem;
    }
}
@media screen and (max-width:350px) {
    .middle-part-text{
        margin-bottom: 15em;
    }
}